@use "../../../../variables.scss" as *;

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  button {
    font-size: 0.9em;
  }

  button:last-child {
    .icon {
      font-size: 0.8em;
    }
  }
}

.editPlayerForm {
  @include modalInnerForm;
  h3 {
    cursor: not-allowed;
    padding: 1em;
    background-color: #1f1f1f;
    border-radius: 0.4em;
    span {
      color: $grey-color;
      font-weight: 400;
    }
  }
}
