.modalContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  //   place-items: center;
  place-content: center;
  height: 100dvh;
  width: 100dvw;
  z-index: 1000000;
  .modal {
  }
}
