.hero {
  position: relative;
  overflow: hidden;

  .coverImg {
    height: 100dvh;

    //width: 100%;
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 1);
      z-index: 100;
    }
  }
}

.content {
  bottom: 4em;
  left: 2em;
  width: 60%;
  z-index: 2;
  font-size: 1.2em;
  font-weight: 600;
  position: absolute;
  img {
    height: 3em;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 850px) {
  .hero {
    display: none;
  }
}
