.sidebar {
    display: flex;
    flex-direction: column;
    width: 100px; 
    background-color:#212121;
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 

    
  }
  .icon{
    color: white;
  }
