@use "./variables.scss" as *;
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $primary-font-family;
}

@font-face {
  font-family: "Raleway";
  src: url("/src/assets/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "MADE Outer Sans";
  src: url("/src/assets/Made Outer Sans Bold.otf");
}

body {
  background-color: #121212;
  color: rgb(240, 240, 240);
}
ol,
ul {
  list-style-type: none;
}
aside {
  width: $nav-width;
}
main {
  position: absolute;
  width: calc(100% - $nav-width);
  left: $nav-width;
  padding: 4em 4em;
}
