@use "./variables.scss" as *;
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // outline: 1px solid red;
  font-family: $primary-font-family;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");

}
@font-face {
  font-family: "MADE Outer Sans";
  src: url("./assets/fonts/Made\ Outer\ Sans\ Bold.OTF");

}

body {
  background-color: #121212;
  color: rgb(240, 240, 240);
}
ol,
ul {
  list-style-type: none;
}
aside {
  width: $nav-width;
}
main {
  position: absolute;
  width: calc(100% - $nav-width);
  left: $nav-width;
  padding: 4em 4em;
}

button {
  outline: none;
  border: none;
  box-shadow: none;
}

//Custom Scrollbar
body::-webkit-scrollbar {
  width: 0.6em;
  position: absolute;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77);
  // outline: 1px solid slategrey;
  border-radius: 1em;
}
