$primary-font-family: "Raleway", sans-serif;
$nav-width: 4em;
$primary-red: #ff2a2a;
$secondary-red: #c41a1a;
$body-color: rgb(230, 230, 230);
$grey-color: rgb(170, 170, 170);
$sidebar-cl: #1a1a1a;
$grey-highlight-1: #2e2e2e;
$grey-highlight-2: #262626;
$green: #2d9380;
$breakpoints: (
  mobile: 768px,
  laptop: 1240px,
  desktop-lg: 1800px,
);
@mixin gridBlock {
  margin: 3em 0;
  h3 {
    margin-left: 2em;
  }
  .grid {
    width: 100%;
    margin: 2em 0;
    display: grid;
    column-gap: 2.4em;
    row-gap: 2.4em;
  }
}

@mixin card {
  background-color: #1f1f1f;
  border-radius: 1em;
  position: relative;
  max-width: 26em;
  padding: 1em 0em;
}

@mixin inputText {
  padding: 0.8rem 1rem;
  background-color: rgba(123, 123, 123, 0.26);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  color: $body-color;
  font-size: 1rem;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.invalid {
    border: 1px solid #d63131;
  }
}

@mixin banner {
  padding: 1em 2em;
  background-color: #1f1f1f;
  border-radius: 0.6em;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      color: rgb(220, 220, 220);
      font-size: 1.1em;
    }
    span {
      color: $grey-color;
    }
  }
  .controls {
    button {
      padding: 0.6rem 1rem;
      font-size: 0.9rem;
    }
  }
}

@mixin mainDivider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  height: 100dvh;
}

@mixin modalInnerForm {
  input {
    @include inputText;
  }

  label {
    margin-bottom: -0.4em;
    font-size: 0.9em;
  }
  .additionalInfo {
    display: block;
    color: $grey-color;
    font-size: 0.8em;
  }

  button {
    justify-content: center;
    gap: 1em;
    padding: 1em;
  }
}
