$primary-font-family: "Raleway", sans-serif;
$nav-width: 4em;
$primary-red: #ff2a2a;
$secondary-red: #c41a1a;
$body-color: rgb(230, 230, 230);
$grey-color: rgb(170, 170, 170);
@mixin gridBlock {
  margin: 3em 0;
  h3 {
    margin-left: 2em;
  }
  .grid {
    width: 100%;
    margin: 2em 0;
    display: grid;
    column-gap: 2.4em;
    row-gap: 2.4em;
  }
}

@mixin card {
  background-color: #1f1f1f;
  border-radius: 1em;
  position: relative;
  max-width: 26em;
  padding: 1em 0em;
}
