@use "../../../variables.scss" as *;
.card {
  @include card;
  .actionBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.4em;
    padding: 2px;
    cursor: pointer;
    background-color: rgb(66, 66, 66);
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.7);
    transition: all 150ms ease-in-out;
    &:active {
      outline: 0;
    }

    &:hover {
      &.close {
        background-color: lighten($color: $secondary-red, $amount: 5);
      }
      &.add {
        background-color: #22ab7f;
      }
    }
  }
}
