.metrics {
  display: flex;
  padding: 0em 2em;
  flex-direction: row;
  gap: 2em;
  margin-top: 0.4em;
  color: rgba(255, 255, 255, 0.7);

  .item {
    display: flex;
    align-items: center;
    gap: 0.4em;

    .icon {
      font-size: 1.2em;
      color: white;
    }

    .value {
      font-weight: 500;
    }
  }
}

.impactContainer {
  margin: 1em 0;
  // border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 1em 1.4em;
  margin: 1.2em 1em;
  background-color: rgb(37, 55, 87);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1em;

  .impact {
    .label {
      font-size: 0.9em;
      color: rgb(179, 188, 255, 0.8);

      span {
        color: rgb(214, 219, 255);
        font-weight: 600;
      }
    }

    .value {
      // color: rgb(156, 184, 255);
      font-size: 3.5em;
      font-weight: 800;
      margin-top: -0.2em;
      color: rgb(214, 219, 255);
    }

    .direction {
      color: rgba(179, 188, 255, 0.8);
      font-size: 0.9em;
      span {
        font-weight: 600;
        color: rgb(214, 219, 255);
      }
    }
  }

  &.newImpact {
    background-color: rgb(160, 54, 54);
    .impact {
      .label,
      .direction {
        color: #e09f9f;
      }

      .value {
        color: #ffd1d1;
      }

      span {
        color: #ffcfcf;
      }
    }
  }

  &.critical {
    animation: 240ms ease infinite alternate pulse;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
    background-color: rgb(160, 54, 54);
  }
  to {
    transform: scale(1.03);
    background-color: saturate($color: rgb(160, 54, 54), $amount: 30);
  }
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0em 1em;

  button {
    font-size: 0.9em;
    padding: 0.7em 1.2em;
  }
}
