[Unit]
Description=led_service
After=network.target

[Service]
ExecStart=python /home/pi/impax/led.py
WorkingDirectory=/home/pi/impax
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
