@use "../../variables.scss" as *;

.session {
  @include banner;

  .controls {
    display: flex;
    gap: 1em;
    Button {
      font-size: 0.9rem;
    }
  }
}

.monitoring,
.active {
  @include gridBlock;
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(340px, 26em));
  }
}
