@use "../../variables.scss" as *;

.session {
  padding: 1em 2em;
  background-color: #1f1f1f;
  border-radius: 0.6em;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  .info {
    h2 {
      color: rgb(220, 220, 220);
      font-size: 1.1em;
    }
    span {
      color: $grey-color;
    }
  }

  .controls {
    display: flex;
    gap: 1em;
    Button {
      font-size: 0.9rem;
    }
  }
}

.monitoring,
.active {
  @include gridBlock;
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(340px, 26em));
  }
}
