.container {
  padding: 1em;
  //width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
  table-layout: auto;
  text-overflow: ellipsis;
  thead th {
    font-size: 0.9em;
    color: rgb(232, 232, 232);
    text-wrap: nowrap;
  }
  tbody {
    tr {
      //border-bottom: 1px solid #757575;
      background-color: #2e2e2e;
    }
    tr:nth-of-type(even) {
      border-radius: 1em;
      background-color: #262626;
    }

    tr:last-of-type {
      //border-bottom: 2px solid #565656;
    }

    tr:first-child {
      td:first-child {
        border-top-left-radius: 1em;
      }
      td:last-child {
        border-top-right-radius: 1em;
      }
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 1em;
      }
      td:last-child {
        border-bottom-right-radius: 1em;
      }
    }
  }

  thead tr {
    background-color: transparent;
    color: #ffffff;
    text-align: left;
  }

  th,
  td {
    padding: 1em 2em;
  }

  td:has(div.jerseyId) {
    width: 2ch;
  }

  td:has(button) {
    width: 10em;
  }
}

.jerseyId {
  font-family: "MADE Outer Sans";
  font-size: 2em;
}
